<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
    </mat-card-header>
      <mat-form-field hintLabel="От 4 до 20 символов">
        <mat-icon matPrefix>account_circle</mat-icon>
        <input matInput minlength=4 maxlength=20 placeholder="Введите логин:" #UserName="ngModel" name="UserName" [(ngModel)]="loginModel.login" required>     
        <mat-hint align="end">{{UserName.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="От 6 до 20 символов">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput minlength=6 maxlength=20 placeholder="Введите пароль:" #Password="ngModel" name="Password" [(ngModel)]="loginModel.password" required type="password">
        <mat-hint align="end">{{Password.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Войти</button>
  </mat-card>
</form>