.mat-card {
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
    width: 300px;
    height: 230px;
    border: 3px solid darkslateblue;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .mat-card > * {
    margin: 5px;
    width: 100%;
    justify-content: center;
  }
  
  .mat-icon {
    margin-right: 5px;
  }
  