.mat-card {
    margin: 5px;
    height: auto;
}

.example-container {
    position: relative;
    min-height: 200px;
  }
  
.example-table-container {
    position: relative;
    max-height: 60vh;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-cell, .mat-checkbox, .mat-footer-cell, .mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    display: table-cell;
    vertical-align: inherit;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: 24px;
}


.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.mat-form-field {
    font-size: 16px;
    width: 100%;
} 
