<mat-card>
  <mat-card-header>
    <mat-card-title>Пользователи</mat-card-title>
  </mat-card-header>
<mat-form-field>
  <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Поиск" >
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matSort >

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> № </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="login">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Логин </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Пароль </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ФИО </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="roleId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> № роли </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.roleId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isDisabled">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Статус </mat-header-cell>
          <mat-checkbox *matCellDef="let element" color="primary" [disabled] = "true" [checked]="element.isDisabled"></mat-checkbox>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="onAdd()">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onEdit(element)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="onDelete(element)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
</mat-card> 