<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" hasBackdrop="true" mode="over">
    <mat-toolbar>
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
       <label style="margin-left: 5px;">Меню</label>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Главная</a>
      <a mat-list-item href="#">Отчеты</a>
      <a mat-list-item [routerLink]="['/home/users']">Администрирование</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content hasBackdrop="true">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="onLogout()" style="position: absolute; right: 0; margin-right: 15px;">Выйти</button >
    </mat-toolbar>
    <div class="card m-5" style="width:18rem" *ngIf="user">
      <ul class="list-group">
        <li class="list-group-item"><strong>ФИО : </strong>{{user.userName}}</li>
        <li class="list-group-item"><strong>Логин : </strong>{{user.login}}</li>
        <li class="list-group-item"><strong>Роль : </strong>{{user.roleName}}</li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>